<div class="product">
<!-- <img width='100' [src]="product.image" alt=""> -->
<app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
<p class="product">{{ product.category.name}}</p>
<h2>{{product.price | currency:'$'}}</h2>
<p>{{ product.title}}</p>
<p>{{ product.taxes | currency:'$'}}</p>
<button type="button" class="btn btn-outline-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="onShowDetail()">Detail</button>
<button type="button" class="btn btn-outline-primary"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="onAddToCart()">Add cart</button>
</div>
