
<div class="show-mobile">
  <div >
    <button type="button"    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu" class="">
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <button class="button-cart" (click)="showAddToCart()">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
    </button>
    <span class="counter">{{ counter }}</span>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <a type="button"(click)="toggleMenu()"><span class="material-icons close">
      highlight_off
      </span></a>

    <ul >
      <li><a href="">All </a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>

  <div class="side-cart" [class.active]="activeCart">
    <a type="button"(click)="showAddToCart()"><span class="material-icons close">
      highlight_off
      </span></a>
      <div *ngIf="myShoppingCart.length === 0">
        <div class="card text-center"><span class="material-icons">
          shopping_cart
          </span>There are no items in the cart </div>
      </div>
    <div class="card text-center" wiperSlide *ngFor="let product of myShoppingCart">
      <div class="card-header">
        {{product.title}}
      </div>
      <div class="card-body">
        <img  width="10px" [src]="product.images[0]" >
      </div>
      <div class="card-footer text-muted">
        ${{product.price}}
      </div>

    </div>

    <div>
      Amount: {{myShoppingCart.length}}
    </div>
    <div>
      Total: ${{total}}
    </div>
  </div>

</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul class="ul-nav">
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account"></div>
      <div class="cart">
        <button class="button-cart" (click)="showAddToCart()">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </button>
        <span class="counter">{{ counter }}</span>

      </div>
      <div class="side-cart" [class.active]="activeCart">
        <a type="button"(click)="showAddToCart()"><span class="material-icons close">
          highlight_off
          </span></a>

          <div *ngIf="myShoppingCart.length === 0">
            <div class="card text-center"><span class="material-icons">
              shopping_cart
              </span>There are no items in the cart </div>
          </div>
        <div class="card text-center" wiperSlide *ngFor="let product of myShoppingCart">

          <div class="card-header">
            {{product.title}}
          </div>
          <div class="card-body">
            <img  width="10px" [src]="product.images[0]" >
          </div>
          <div class="card-footer text-muted">
            ${{product.price}}
          </div>

        </div>

        <div>
          Amount: {{myShoppingCart.length}}
        </div>
        <div>
          Total: ${{total}}
        </div>

      </div>
    </div>
  </div>
</div>
